@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body{
    background-color: #5772ad58;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #242933;
}
h1#principal {
    text-align: center;
    background-color: #56617A;
    color: white;
}

h2{
    color:#404347;
}

h2.basico{
    background-color: rgba(0, 255, 0, 0.436);
}
.intermediario{
    background-color: rgba(255, 255, 0, 0.436);
}
.avançado{
    background-color: rgba(255, 0, 0, 0.436);
}